.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  color: #eee;
}

.custom-checkbox .svg-wrapper svg { 
  display: inline-block;
  vertical-align: middle;
  margin-bottom: .2em;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-radius: 4px;
}


.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 1em;
  height: 1em;
  position: absolute;
  left: .5em;
  top: .4em;
  cursor: pointer;
}

.custom-checkbox .svg-wrapper svg path {
  transition: stroke-dashoffset .4s linear;
}
.checkbox-checked,
.custom-checkbox input[type="checkbox"]:checked + .svg-wrapper svg path {
  stroke-dashoffset: 0;
  stroke: currentColor;
}
.custom-checkbox input[type="checkbox"] + .svg-wrapper svg path {
  stroke: #000000;
}

.custom-checkbox input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.custom-checkbox input[type="checkbox"]:focus + .svg-wrapper svg {
  outline: 4px solid rgb(0, 17, 255);
  outline-offset: 4px;
}


.custom-checkbox input[type="checkbox"]:focus:not(:focus-visible) + .svg-wrapper svg {
  outline: none;
}
/* showing error */
.error {
  animation: shake 0.5s; 
  border: 2px solid red;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
/*general styles */
.text-red::placeholder{
  color: red;
}
.text-red{
  outline: #AD3B3B 4px solid;
}
button,
input,
li{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
*{
    box-sizing:border-box;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    border: none;
}
p{
  font-family: 'Roboto', sans-serif;
  word-break: break-all;
  padding-right: 10px;
}
.todo-app{
    width: 86vw;
    margin-right: auto;
    margin-left: auto;
}
body{
  background: #E3E3E3;
  font-family: 'Roboto-reg', sans-serif;
}
/* navigation */
.nav-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 27px 0;
}
.nav-input, .nav-btn{
    background: #886161;
    border-radius: 4px;
    color: white;
    word-break: break-all;
    border: none;
}
.nav-btn{
    height: 42px;
    width: 18%;
}
.nav-input{
  min-height: 42px;
  max-height: 100px;
  margin-right: 3%;
  width: 79%;
  padding: 0 10px;
}
.nav-input::placeholder{
  color: #D9C5C5;
}

/* todo-list */
.todo-list{
  overflow:scroll;
  overflow-x:hidden;
  max-height: 72vmin;

  padding-left: 0;
}
.todo{
  background: #D9C5C5;
  display: flex;
  border-radius: 4px;
}
.todo:not(:last-child){
  margin-bottom: 8px;
}

.todo-note{
  color: #444141;
  cursor: default;
  align-self: center;
  overflow-wrap: wrap ;
} 
.strikethrough {
  text-decoration: line-through;
}
.checkbox-svg{
  margin-right: 16px;
  margin-left: 6px;
  margin-top: 6px;
}
/* aditional-tools */
.additional-tools{
  display: flex;
  flex-wrap: nowrap;
}
.aditional-btn{
  margin-top: 47px;
  border-radius: 5px;
  padding: 8px 25px;
}
.delete-btn{
  color: white;
  background: #AD3B3B;
  margin-right: auto;
}
.check-btn{
  background: white;
  width: 200px;
}
.check-btn-red{
  color: #AD3B3B;
  outline: #AD3B3B 2px solid;
}
.check-btn-green{
  color: #4a703f;
  outline: #4a703f 2px solid;
}
@media screen and (max-width: 782px){
  .nav-form{
    position: relative;
  }
  .nav-input{
    margin: 0;
    width: 100%;
    padding-right: 45px;
    
  }
  .nav-btn{
    position: absolute;
    top: 7px;
    right: 10px;
    background-image: url('add.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    
    
  }

}
@media screen and (max-width: 559px){
  .additional-tools{
    flex-direction: column;
  }
  .aditional-btn{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1.5em;
  }
  .delete-btn{
    margin-bottom: 18px;
  }
}